.idea/.name
.idea/copyright/profiles_settings.xml
.idea/deployment.xml
.idea/modules.xml
.idea/encodings.xml
.idea/IntelliFridge.iml
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/.name
/Android/Javadoc